body{
    background: url(images/background.png)repeat fixed;
}
h1 {font-family: cursive;
    font-size: 42px;
    text-align: center;
}
section {
    display:float;
    width: 1000px;
    margin:auto;   
    font-family:Georgia, 'Times New Roman', Times, serif;
    font: size 24px;
    text-align: center;
}

button {
    background: lightgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 20px;
    font-size: 17px;   
}

article {
    display:float;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: small;
    font-size: 20px;
    padding: 5px;
    margin: 14px;
}

article img{
    float: left;
}   

main{
    display:float;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: small;
    font-size: 20px;
    padding: 5px;
}

main img {
    float: right;
}


